@import 'variables';

#about-container {
  font-size: 1.2rem;

  > .container-fluid {
    padding: 100px 0;
    overflow: hidden;

    &#about {
      padding: 0;
      min-height: 450px;
      max-height: 550px;
      position: relative;
      height: calc(100vh - 65px);

      &.hero {
        background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), img("hero-me.jpg") no-repeat center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        background-position: 60% 0%;
        color: white;
        overflow: hidden;

        .row-fluid {
          position: absolute;
          height: 100%;

          .text-container {
            width: 45%;
            min-width: 300px;
            margin-left: 10%;

            // mobile
            @media (max-width: 650px) {
              font-size: 1.1rem;
              width: 80%;
              margin: auto;
            }

            p {
              span {
                color: $blue;
                font-size: 2rem;
                padding: 10px 0;
                display: block;
              }
            }
          }
        }
      }
    }

    .row-fluid {
      color: $light-grey;

      .header {
        width: 100%;
        text-align: center;

        h3 {
          width: 100%;
          margin: auto;
          padding: 5px;
          padding-bottom: 15px;
          color: white;
          font-size: 2rem;
        }
      }
    }

    &.carbon.light {
      .row-fluid {
        .header {
          h2 {
            color: $charcoal-grey;
            font-size: 2.5rem;
          }
        }
      }
    }
  }



  #experience {
    .header {
      padding-bottom: 10px;
    }
  }

  #projects {
    .row-fluid {
      margin-left: 0;
      margin-right: 0;

      h2 {
        font-size: 2.5rem;
        margin-bottom: 25px;
      }

      .column {
        padding-top: 15px;
        padding-bottom: 15px;
      }
    }
  }
}