<div id="about-container">

  <!-- Hero -->

  <row id="about" class="hero" full-port-height>
    <center class="col-sm-12 text-container">
        <p>
          <span>Hello!</span>
          I am a full stack web developer hailing from the University of Pittsburgh. I started studying computer science because I had to study something. I fell in love and never looked back. I've touched everything from Assembly to Stylus and found that the web is the most exciting place to be. Programming has turned from a job, into my favorite hobby.
        </p>
    </center>
  </row>

  <!-- Fun Facts -->

  <row id="fun-facts">
    <div ng-include="'../views/_fun_facts.html'"></div>
  </row>

  <!-- Timeline -->

  <row id="experience" class="carbon light">
    <div class="header">
      <h2>Where I've Been</h2>
    </div>

    <timeline target="experiences"></timeline>
  </row>

  <!-- Timeline -->

  <row id="projects">
    <div class="header">
      <h2>Things I've Done</h2>

    <row>
      <div class="col-sm-6 col-lg-3 column" ng-repeat="project in projects">
        <project target="project"></project>
      </div>
    </row>
  </row>

</div>