<div id="about-container">

  <!-- Hero -->

  <div class="hero">
    <div class="text-container">
      <div class="text-box">
        <p>
          <span>Hello!</span>
          I am a full stack web developer hailing from the University of Pittsburgh. I started studying computer science because I had to study something. and I fell in love and never looked back. I've touched everything from Assembly to Sass and found that the web is the most exciting place to be. Programming has turned from a job, into my favorite hobby.
        </p>
        <div class="center" ng-click="scrollTo('fun-facts', 'standard');"><span class="arrow down"></span></div>
      </div>
    </div>
  </div>

  <!-- Fun Facts -->

  <section class="center" id="fun-facts">
<!--
    <div class="header">
      <h3>Fun Facts</h3>
    </div> -->

    <div class="content">
      <div class="row container-fluid">
        <div class="col-sm-6 block">
          <div class="lead">Things I <span>like</span></div>
          <ul class="custom">
            <li ng-repeat="like in likes">{{like}}</li>
          </ul>
        </div>
        <div class="col-sm-6 block">
          <div class="lead">Things I <span>Dont</span></div>
          <ul class="custom">
            <li ng-repeat="dislike in dislikes">{{dislike}}</li>
          </ul>
        </div>
      </div>
    </div>
  </section>


  <section class="center" id="skills">

    <div class="header">
      <h3>Skills</h3>
    </div>

    <div class="content">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </p>
    </div>
  </section>

  <div ng-include src="'views/footer.html'"></div>
</div>