<div id="about-container">

  <!-- Hero -->

  <div class="hero">
    <div class="text-container">
      <div class="text-box">
        <p>
          <span>Hello!</span>
          I am a full stack web developer hailing from the University of Pittsburgh. I started studying computer science because I had to study something. and I fell in love and never looked back. I've touched everything from Assembly to Sass and found that the web is the most exciting place to be. Programming has turned from a job, into my favorite hobby.
        </p>
        <div class="center" ng-click="scrollTo('fun-facts');"><span class="arrow down"></span></div>
      </div>
    </div>
  </div>

  <!-- Fun Facts -->

  <section class="center">

    <div class="header"  id="fun-facts">
      <h3>Fun Facts</h3>
    </div>

    <div class="content">
      <div class="block">
        <div class="lead">Things I <span>like</span></div>
        <ul class="inline">
          <li>Rock Climbing</li>
          <li>Woodworking</li>
          <li>Cycling</li>
          <li>Hiking</li>
          <li>Camping</li>
          <li>Playig hockey and soccer</li>
          <li>Watching the Pittsburgh Penguins win</li>
          <li>Good Whiskey</li>
          <li>Good Beer</li>
        </ul>
      </div>
      <div class="block">
        <div class="lead">Things I <span>Dont</span></div>
        <ul class="inline">
          <li>Cold weather</li>
          <li>Watching the Penguins lose</li>
          <li>Finding the office coffey pot empty</li>
          <li>Distance Running</li>
          <li>Swimming</li>
        </ul>
      </div>
    </div>
  </section>

</div>