@import 'variables';

$max-height: 500px;

$background-mask: linear-gradient(
  rgba(0, 0, 0, 0.7),
  rgba(0, 0, 0, 0.7)
);

#about-container {
  height:100%;
  font-size: 1.2rem;

  .hero {
    background: $background-mask, url(/images/me1.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: 60% 0%;


    height: 100%;
    max-height: $max-height;
    color: white;
    overflow: hidden;

    .text-container {
      display: table;
      width: 40%;
      min-width: 300px;
      margin-left: 10%;
      height: 100%;

      // mobile
      @media (max-width: 650px) {
        font-size: 1.1rem;
        width: 80%;
        margin: auto;

        .arrow {
          display: inline-block;
        }

        .text-box {
        }
      }

      .text-box {
        display: table-cell;
        vertical-align: middle;

        // mobile
        @media (max-width: 650px) {
          vertical-align: bottom;
        }

        p {
          span {
            color: $blue;
            font-size: 2rem;
            padding: 10px 0;
            display: block;
          }
        }
      }
    }

    .arrow {
      display: none;
      height: 50px;
      top: 15px;
      position: relative;
    }
  }

  section {
    color: $light-grey;
    max-height: $max-height;
    display: inline;

    &:last-of-type {
      .content {
        margin-bottom: 30px;
      }
    }

    .header {
      width: 100%;

      h3 {
        border-top : 1px solid $blue;

        &:first-of-type {
          border-top: none;
        }
        width:20%;
        min-width: 250px;
        margin: auto;
        padding: 5px;
        color: white;
      }
    }

    .content {
      width: 80%;
      max-width: 1000px;
      margin: 0 auto;

      // mobile
      @media (max-width: 650px) {
        width: 95%;
      }

      .block {
        text-align: left;
        font-size: 1.5rem;
        margin: 40px 0;

        .lead {
          font-size: 1.7rem;
          margin-bottom: 10px;
          font-weight: inherit;
          text-align: center;
          color: white;

          span {
            color: $blue;
          }
        }

        ul {
          padding-left: 5%;

          li:before {
            padding-right: 10px;
          }
        }
      }

      h3 {
        width: 200px;
        margin: auto;
        color: $blue;
        padding-bottom: 10px;
        margin-bottom: 10px;
        border-bottom: 1px solid white
      }
    }
  }
}