@import 'variables';

$nav-height: 70px;
.navbar {
  background: white;
  font-size: 16px;
  height: $nav-height;
  box-shadow: 0 2px 9px #515151;
  text-transform: uppercase;


  &.navbar-default {
    border: none;


    // mobile
    @media (max-width: 768px) {
      text-align: right;

      .navbar-header {
        position: relative;
        box-shadow: rgba(19, 19, 19, 0.470588) 0px -2px 10px;
      }
    }


    .container {
      height: $nav-height;

      // header text
      .navbar-header {
        height: $nav-height;

        a {
          text-align: center;
          padding: 25px 15px;
          height: $nav-height;
          display: inline-block;

          &:hover {
            color: $blue;
          }


          &.flush {
            padding: 25px 0;
          }

          &.navbar-brand {
            background: $blue;
            color: white;
            box-shadow: 0 -2px 9px #515151;
            width: 75px;
            height: 75px;
            margin-left: 20px;
            font-size : 36px;
            letter-spacing: -10px;
            position: relative;

            span {
              font-weight: bold;
            }
          }
        }
      }

      .collapse {

        // desktop
        @media (min-width: 768px) {
          margin-right: 15%;

          a {
            text-align: center;
            width: 100px;
            padding: 25px 15px;
            height: $nav-height;
            display: inline-block;

            &:hover {
              color: $blue;
            }

            &.flush {
              padding: 25px 0;

              &:first-of-type {
                padding-left: 15px;
              }

              &:last-of-type {
                padding-right: 15px;
              }
            }
          }

          ul {
            height: $nav-height;
            float: right;
          }
        }
      }


      // mobile
      @media (max-width: 768px) {
        .navbar-toggle {
          margin: 16px;
          background: white;

          &[aria-expanded="true"] {
            background: $dark-grey;

            .icon-bar {
              background: none;

              &:nth-of-type(odd) {
                background: white;
              }
            }
          }
        }
      }

      .navbar-collapse {
        &.collapsing, &.collapse.in {

          // mobile
          @media (max-width: 768px) {
            box-shadow: -10px 10px 16px rgba(19, 19, 19, 0.47);
            z-index: 10;
            background: white;
            width: 80%;
            max-width: 300px;
            display: inline-block;
            text-align: left;
          }
        }
      }
    }
  }
}