@import 'variables';

.navbar {
  background: white;
  height: $nav-height;
  text-transform: uppercase;
  font-size: 1.1rem;
  font-weight: 100;
  color: $grey;
  border-bottom: 1px solid $light-grey;


  &.navbar-default {

    .dropdown-toggle {
      transition: $ease;

      .sprite {
        margin-left: 5px;

        &.closed {
          display: none;
        }
      }

      &:hover {
        .sprite {
          color: $blue;
        }
      }

      &[aria-expanded="true"]{
        .closed {
          display: inline-block;
        }

        .open {
          display: none;
        }
      }
    }

    .dropdown-menu {
      li {
        a {
          padding: 10px;
          font-size: 1.1rem;
          font-weight: 100;
          width: 100%;
          color: $grey;
        }
      }
    }


    // mobile
    @media (max-width: 768px) {
      text-align: right;

      .navbar-header {
        position: relative;
      }
    }

    .container {
      height: $nav-height;

      // header text
      .navbar-header {
        height: $nav-height;

        a {
          text-align: center;
          padding: 25px 15px;
          height: $nav-height;
          display: inline-block;

          &:hover {
            color: $blue;
          }


          &.flush {
            padding: 25px 0;
          }

          &.navbar-brand {
            background: $blue;
            color: white;
            width: 75px;
            font-size : 36px;
            letter-spacing: -10px;
            position: relative;

            span {
              font-weight: bold;
            }
          }
        }
      }

      .collapse {

        // desktop
        @media (min-width: 768px) {

          a {
            text-align: center;
            padding: 25px 15px;
            height: $nav-height;
            display: inline-block;

            &:hover {
              color: $blue;
            }

            &.flush {
              padding: 25px 0;

              &:first-of-type {
                padding-left: 15px;
              }

              &:last-of-type {
                padding-right: 15px;
              }
            }
          }

          > ul {
            height: $nav-height;
            float: right;
          }

          .dropdown-menu {
            width: 250px;
          }
        }
      }


      // mobile
      @media (max-width: 768px) {
        .navbar-toggle {
          margin: 16px;
          background: white;

          &[aria-expanded="true"] {
            background: $dark-grey;

            .icon-bar {
              background: none;

              &:nth-of-type(odd) {
                background: white;
              }
            }
          }
        }

        .dropdown-menu {
          margin-left: 30px;
          li {
            a {
              transition: $ease;

              .sprite {
                margin-left: 5px;
              }

              &:hover {
                color: $blue;

                .sprite {
                  color: $blue;
                }
              }
            }
          }
        }

        ul {
          li {
            a {
              transition: $ease;

              .sprite {
                margin-left: 5px;
              }

              &:hover {
                color: $blue;

                .sprite {
                  color: $blue;
                }
              }
            }
          }
        }
      }

      .navbar-collapse {
        max-height: none;
        &.collapsing, &.collapse.in {

          // mobile
          @media (max-width: 768px) {
            z-index: 10;
            background: white;
            width: 80%;
            max-width: 300px;
            display: inline-block;
            text-align: left;
          }
        }
      }
    }
  }
}