@import 'variables';

#about-container #projects {

  .project-box {
    width: 100%;
    height: 100%;
    margin: 25px 0;
    transition: $ease;
    position: relative;

    h3 {
      width: 100%;
      color: $light-grey;
      padding: 10px;
      transition: $ease;
      position: relative;

      .sprite {
        display: none;
      }
    }

    .content {
      color: $light-grey;
      position: relative;

      .utlity-list {
        padding: 5px 0;

        span {
          margin: 0 10px;
        }
      }

      p {
        padding: 10px;
        text-align: left;

      }

    }

    h3:hover {
      background: $blue;
      color: $charcoal-grey;
      cursor: pointer;

      .sprite {
        color: $charcoal-grey;
        position: absolute;
        right: 5px;
        display: inline-block;
      }
    }
  }
}