//
// Colors
//

$yellow: #FFD051;

$light-blue: #B0BBBF;


$light-gray: #F4F3EF;
$medium-gray: #A1A499;
$dark-gray: #393A36;

//
// Utilities
//

$ease: 0.25s ease-in-out all;

//
// Globals
//

html, body {
  background-color: $light-gray;
}
