html, body {
  width: 100%;
  height: 100%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.image-split {
  display: flex;
	flex-wrap: wrap;
}

img {
  height: 50px;
}

a {
  margin-right: 20px;
  text-decoration: none;
}

a:not(.hart) {
  text-decoration: none;
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  filter: grayscale(100%);
}

a:last-of-type {
  margin-right: 0;
}
