@import 'variables';

$footer-height: 100px;
$line-height: 80px;
$sprite-height: 40px;


#footer-content {
  padding: 20px 0;
  text-align: center;
  position: relative;
  border-top: 1px solid $grey;

  &.light {
    color: $dark-grey;

    a {
      color: $dark-grey;
    }

    .sprite-row .sprite {
      color: $dark-grey;

      &:hover {
        color: $blue;
      }
    }
  }

  a {
    font-size: 1.7rem;
    color: $grey;

    &:hover {
      color: $blue;
    }
  }

  .sprite-row {
    width: 500px;
    margin: auto;
    height: $line-height;


    @media (max-width: 768px) {
      width: 100%;
    }

    .sprite {
      height: $sprite-height;
      width: $sprite-height;
      margin: 0 50px;

      &:first-of-type {
        margin-left: 0px;
      }
      &:last-of-type {
        margin-right: 0px;
      }
    }
  }

}

.fullpage {
  #footer-content {
    display: none;
  }
}