@import 'variables';

.button {
  color: $light-grey;
  font-size: 15px;
  display: inline-block;
  padding: 10px;
  width: 120px;
  border: 1px solid $light-grey;
  transition: 0.25s ease-in-out all;
  font-weight:200;
  font-size: 1rem;
  text-transform: uppercase;

  &:focus {
    color: $light-grey;
    border: 1px solid $light-grey;
  }

  &:hover {
    cursor: pointer;
    text-decoration: none;
    background: white;
    color: $charcoal-grey
  }

  &[type="submit"], &[active="true"] {
    background: $blue;
    color: white;
  }
}

.button-wrap {
  display: flex;
  padding: 10px 0;

  .button, [type="button"]{
    flex:1;

    &[type="submit"], &[active="true"] {
      background: $blue;
      color: white;
    }

    text-align: center;
    vertical-align: middle;
    text-decoration: none;

    &:first-of-type {
      margin-right: 10px;
    }
  }
}

input, textarea {
  font-size: 1.2rem;
  resize: none;
  background: none;
  width: 100%;
  border: 0;
  border-bottom: 1px solid $light-grey;
  border-radius: 0;
  outline: 0;
  min-height: 35px;

  background-color: rgba(0, 0, 0, 0.17);
  border: 0;

  &[type="email"], &[type="password"], &[type="text"], &textarea {
    padding-left: 10px;

    &:required {
      &::-webkit-input-placeholder {
        &:after {
          content: "*";
          padding-left: 5px;
          color: $faded-red;
          font-size: 1rem;
        }
      }
    }
  }
}

textarea {
  // border: 1px solid $light-grey;
  padding: 10px;
}

a.button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.error {
  color: $red;
  display: none;

  &.main-error {
    padding-top: 5px;
  }
}

form.ng-submitted {
  .invalid {
    border: 1px solid $red;
  }

  .error {
    font-weight: bold;
    display: block;
  }
}

.input-wrap {
  display: block;
  padding: 10px 0;
}
