@import 'variables';


///////////////////////////////////////////////////////////////////////////////
// Universal Styles
///////////////////////////////////////////////////////////////////////////////


html, body {
  padding: 0;
  margin: 0;
  background :none;
  width: 100%;
  height: 100%;

  font-weight: 200;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
}

html {
  background: rgb(240, 240, 240);
  height: 100%;
}

body {
  padding-top: 70px;
}

h1, h2, h3, h4 {
  margin: 5px 0;
  font-weight: 300;
}

a, .sprite {
  cursor: pointer;

  &:hover {
    color: $blue;
    text-decoration: none;
  }

  &:focus {
    text-decoration: none;
  }
}


img {
  height: inherit;
}

#main-content {
  width: 100%;
  min-height:100%;
  position: relative;

  &.fullpage {
    position: absolute;
    top: 0;
  }
}

#background-filter {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(245, 246, 247, 0);
  z-index: -1;
}

///////////////////////////////////////////////////////////////////////////////
// General Utilities
///////////////////////////////////////////////////////////////////////////////

.container {
  width: 100%;
}

.carbon {
  &.light {
    background: img("light_carbon.png") left top;
  }

  &.dark {
    background: img("dark_carbon.png") left top;
  }
}

div.divider {
  width: 30%;
  max-width: 200px;
  height: 1px;
  margin: 10px auto;
  text-align: center;
  background: $light-grey;

  span {
    position: relative;
    top: 0.5rem;

    width: 0;
    height: 0;
    border-left: 0.5rem solid transparent;
    border-right: 0.5rem solid transparent;

    border-top: 0.5rem solid white;
  }
}
div.diamond {
  text-align: center;
  color: $blue;
}

.arrow {
  &.down {
    border-left: 1rem solid transparent;
    border-right: 1rem solid transparent;
    border-top: 1rem solid $blue;
  }

  &.up {
    border-left: 1rem solid transparent;
    border-right: 1rem solid transparent;
    border-bottom: 1rem solid $blue;
  }

  &.right {
    border-top: 1rem solid transparent;
    border-left: 1rem solid $blue;
    border-bottom: 1rem solid transparent;
  }

  &.left {
    border-top: 1rem solid transparent;
    border-right: 1rem solid $blue;
    border-bottom: 1rem solid transparent;
  }
}

.Mongoman-logo {
  position: relative;
  width: 8rem;
  font-weight: 600;
  height: 6rem;

  .triangle {
    position: absolute;
    top: 0;
    line-height: 4rem;

    border-left: 4rem solid transparent;
    border-right: 4rem solid transparent;
    border-top: 5.5rem solid $orange;
  }

  .leading {
    top: 0rem;
    position: absolute;
    line-height: 3rem;
    font-size: 3.9rem;
    left: 2.1rem;
    font-weight: 800;
  }

  .trailing {
    display: none;
    top:0;
    position: absolute;
    font-size: 3rem;
    color: $blue;
    left: 2.5rem;
    font-weight: 800;
  }
}

.center {
  text-align: center;
}

.vertical-center-outer {
  display: table;
  height: 100%;

  .vertical-center-inner {
    display: table-cell;
    vertical-align: middle;
  }
}

ul {

  &.inline {
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
      display: inline-block;

      &:first-of-type:before {
        padding-right: 0;
        content: '';
      }
    }
  }

  &.custom, &.inline {
    li {
      padding-left: 5px;
      display: table-row;

      &:before {
        display: table-cell;
        color: $dark-grey;
        padding-right: 5px;
        font-size: 1rem;
        content: '◆';
      }
    }
  }
}

.sprite {
  font-size: 32;
  transition: 0.25s ease-in-out all;

  &.size-16 { font-size: 16px; }
  &.size-18 { font-size: 18px; }
  &.size-21 { font-size: 21px; }
  &.size-24 { font-size: 24px; }
  &.size-32 { font-size: 32px; }
  &.size-48 { font-size: 48px; }
  &.size-64 { font-size: 64px; }
  &.size-96 { font-size: 96px; }
}

.back-button {
  font-size: 1.5rem;

  .sprite {
    transition: none;

    &:hover {
      color: inherit;
    }
  }

  &:hover {
    color: $blue;
    transition: $ease;
    cursor: pointer;
  }
}


///////////////////////////////////////////////////////////////////////////////
// Dialog
///////////////////////////////////////////////////////////////////////////////

.ngdialog {
  &.ngdialog-theme-default {
    .ngdialog-content {
      border-radius: 0;
    }
  }
}

///////////////////////////////////////////////////////////////////////////////
// Forms
///////////////////////////////////////////////////////////////////////////////


.button {
  color: $light-grey;
  font-size: 15px;
  display: inline-block;
  padding: 10px;
  width: 120px;
  border: 1px solid $light-grey;
  transition: 0.25s ease-in-out all;
  font-weight:200;
  font-size: 1rem;
  text-transform: uppercase;

  &:hover {
    cursor: pointer;
    text-decoration: none;
    background: white;
    color: $charcoal-grey
  }

  &[type="submit"], &[active="true"] {
    background: $blue;
    color: white;
  }
}

.button-wrap {
  display: flex;
  padding: 10px 0;

  .button, [type="button"]{
    flex:1;

    &[type="submit"], &[active="true"] {
      background: $blue;
      color: white;
    }

    text-align: center;
    vertical-align: middle;
    text-decoration: none;

    &:first-of-type {
      margin-right: 10px;
    }
  }
}

input {
  &[type="email"], &[type="password"], &[type="text"] {
    padding-left: 10px;
  }
}

a.button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.error {
  color: $red;
  display: none;

  &.main-error {
    padding-top: 5px;
  }
}

form.ng-submitted {
  .invalid {
    border: 1px solid $red;
  }

  .error {
    font-weight: bold;
    display: block;
  }
}

.input-wrap {
  display: block;
  padding: 10px 0;


  input {
    width: 100%;
    border-radius: 1px;
    border: 1px solid $light-grey;
    min-height: 35px;
    box-shadow: 0px 0px 3px #888888;

    &[type="email"], &[type="password"], &[type="text"] {
      &:required {
        &::-webkit-input-placeholder {
          &:after {
            content: "*";
            padding-left: 5px;
            color: $faded-red;
          }
        }
      }
    }
  }
}
