
//
// Colors
//

$light-grey: rgb(215, 215, 215);
$grey: #777;
$dark-grey: rgb(73, 71, 71);
$charcoal-grey: #222222;

$blue: #0099ff; // gabe recommended
$soft-blue: #5BC5E5;
$bold-blue: rgb(73, 162, 189);

$faded-red: rgb(234, 132, 132);
$red: #df3e3e;
$dark-red: #a00;

$orange: #FF9B00;

//
// Heights
//

$nav-height: 70px;

//
// Mixins
//


@function img($file){
  $url: "../images/#{$file}";
  @return url($url)
}