@import 'variables';


#repo-content {
  color: $light-grey;
  padding-bottom: 50px;

  a {
    color: $blue;
  }

  header {
    background-color: white;
    text-align: center;
    padding: 15px;
    color: $dark-grey;

    h1 {
      font-size: 4.5rem;
      margin: 0;
      padding: 10px 0 30px;
    }

    > * {
      padding: 10px 0;
    }

    a {
      font-weight: 600;
    }
  }

  section {
    margin: 30px 0;
    max-height: 1000px;
    overflow-y: hidden;


    h2 {
      margin: 0;
      padding: 10px;
      color: white;
      background-color: $blue;
      font-size: 2rem;

      &.readme {
        font-size: 2.7rem;
      }
    }

    .content {
      color: $dark-grey;
      background-color: white;
      padding: 15px;

      .line-wrap {
        position: relative;
        width: 100%;
        display: block;
        padding: 10px 0;
        border-bottom: 1px solid $light-grey;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        color: $dark-grey;

        &:first-of-type {
          padding-top: 0;
        }

        &:last-of-type {
          padding-bottom: 0;
          border: 0;
        }

        .value {
          float: right;
          margin: 0 10px;
        }

        .num {
          color: $grey;

          &:before {
            content: "#";
            padding-right: 2px;
          }

          &:after {
            content: "-";
            padding: 0 5px;
          }
        }
      }
    }

    .markdown {
      overflow-x: hidden;

      .markdown-content {
        padding: 0;

        h2 {
          color: $dark-grey;
          background-color: white;
          padding-left: 0;
          margin: 20px 0 10px
        }
      }
    }
  }

  @media (max-width: 500px) {
    header {
      h1 {
        font-size: 3.5rem;
      }
    }

    .container-fluid {
      padding: 0;

      [class*="col-"] {
        padding: 0 10px;

        section {
          margin: 15px 0;
        }
      }

      .markdown-content {
        top: 0;
      }
    }
  }
}