@import 'variables';

#home-content {
  width: 100%;
  height: 100%;
  display: table;
  position: fixed;

  .splash-floater {
    display: table-cell;
    vertical-align: middle;

    section.name {
      color: white;
      text-transform: uppercase;
      width: 100%;
      display: table;
      font-size: 2.4rem;
      font-weight: 100;

      div {
        padding: 20px;
        text-align: center;
        vertical-align:middle;
        display: table-cell;

        span {
          color: white;
        }
      }
    }

    section.content {
      padding-bottom: 50px;
      text-transform: uppercase;
      letter-spacing: 2px;
      width: 100%;
      display: table;

      .center-box {
        text-align: center;
        vertical-align:middle;
        display: table-cell;

        > div, > a {
          margin-top: 30px;
        }

        .leading {
          color: $blue;
          font-size: 1.4rem;
          display: block;
        }

        .button {
          color: $light-grey;
          font-size: 15px;
          display: inline-block;
          padding: 10px;
          width: 120px;
          border: 1px solid $light-grey;
          transition: 0.25s ease-in-out all;

          &:hover {
            background: white;
            color: $charcoal-grey;
          }

          &:first-of-type {
            margin-right: -3px;
          }

          &:last-of-type {
            margin-left: -3px;
            border-left: 0;
          }
        }
      }
    }
  }
};