<div id="home-content">
  <div class="name">j o h n <span>m</span> h o f r i c h t e r</div>

<!--   <diamond><span>Developer</span></diamond>
  <diamond>Engineer</diamond>
  <diamond>Craftsman</diamond> -->

  <div class="diamond-container">
  <div class="text">Developer</div>
   <div class="diamond"></div>
 </div>

  <div class="diamond-container">
   <div class="text">Engineer</div>
   <div class="diamond"></div>
 </div>

  <div class="diamond-container">
   <div class="text">Craftsman</div>
   <div class="diamond"></div>
 </div>

</div>