@import 'variables';

#error-container {
  position: absolute;
  display: table;
  height: 100%;
  width: 100%;
  text-align: center;
  color: $light-grey;

  h1 {
    display: table-cell;
    vertical-align: middle;
    font-size: 30px;
    padding: 0 10px;
    margin: 0;

    .frown {

      div {
        padding-bottom: 15px;
        min-width: 100px;
        width: 10%;
        margin: auto;
        font-size: 70px;
        margin-top: 0;
        letter-spacing: 10px;


        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        -o-transform: rotate(90deg);
      }
    }
  }
}