<div class="timeline-container">
  <div class="timeline">

    <div class="line-wrap">
      <div ng-repeat="select in targetSets.top" class="timeframe top" style="margin-left:{{select.offset}}%;width:{{select.duration}}%;" active="{{select.active}}" ng-click="selectTraget(select)">
        <h3 ng-if="select.useAbbrev">{{select.heading.abbrev}}</h3>
        <h3 ng-if="!select.useAbbrev">{{select.heading.title}}</h3>
      </div>
    </div>

    <div class="key">
      <div ng-repeat="year in years" style="width : {{year.percent}}%"> <h3>{{year.name}}</h3> </div>
    </div>

    <div class="line-wrap">
      <div ng-repeat="select in targetSets.bottom" class="timeframe bottom" style="margin-left:{{select.offset}}%;width:{{select.duration}}%;" active="{{select.active}}"  ng-click="selectTraget(select)">
        <h3 ng-if="select.useAbbrev">{{select.heading.abbrev}}</h3>
        <h3 ng-if="!select.useAbbrev">{{select.heading.title}}</h3>
      </div>
    </div>

  </div>
  <div class="active-content">
    <h2>{{active.heading.title}}<h2>
    <h4 ng-repeat="text in active.heading.subtext">{{text}}</h4>
    <divider ng-show="active"></divider>
    <p>{{active.content.description}}</p>
    <div class="synopsis">
      <span ng-repeat="synopsis in active.content.synopsis">{{synopsis}}</span>
    </div>
  </div>
</div>