<div class="timeline-container">
  <div class="timeline">

    <div class="line-wrap">
      <div ng-repeat="select in targetSets.top" class="timeframe top" style="margin-left:{{select.offset}}%;width:{{select.duration}}%;">
        <h3 ng-if="select.useAbbrev">{{select.heading.abbrev}}</h3>
        <h3 ng-if="!select.useAbbrev">{{select.heading.title}}</h3>
      </div>
    </div>

    <div class="key">
      <div ng-repeat="year in years" style="width : {{year.percent}}%"> <h3>{{year.name}}</h3> </div>
    </div>

    <div class="line-wrap">
      <div ng-repeat="select in targetSets.bottom" class="timeframe bottom" style="margin-left:{{select.offset}}%;width:{{select.duration}}%;">
        <h3 ng-if="select.useAbbrev">{{select.heading.abbrev}}</h3>
        <h3 ng-if="!select.useAbbrev">{{select.heading.title}}</h3>
      </div>
    </div>

  </div>
  <div class="active-content">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  </div>
</div>