@import 'variables';

.timeline-container {
  padding: 20px 5%;
  font-size: 1rem;
  color: $grey;
  text-align: center;
  background: $gunmetal;

  .timeline {
    display: inline-block;
    width: 100%;


    $key-height: 30px;
    .key  {
      display: inline-block;
      width: 100%;
      text-align: center;
      padding: 0 10px;
      height: $key-height;

      div {
        height: $key-height;
        display: inline-block;
        border-left: 1px solid $dark-grey;

        &:first-of-type {
          border-left: none;
        }

        h3 {
          padding-top: 5px;
          margin: 0;
          font-size: 1rem;
          color: white;

          &:before {
            content: "20";

            @media (max-width: 900px) {
              content: "'";
            }
          }
        }
      }
    }

    .line-wrap {
      display: block;
      width: 100%;
      text-align: left;
      padding: 0 10px;
      height: 50px;

      .timeframe {
        display: inline-block;
        text-align: center;
        cursor: pointer;
        color: $light-grey;
        border: 1px solid transparent;
        text-align: center;

        &[active="true"] {
          color: $blue;
          background: $charcoal-grey;

          &.top:hover, &.bottom:hover {
            color: $blue;
          }
        }

        &.top {
          margin-bottom: 10px;
          border-bottom: 1px solid $dark-grey;

          &.active {
            border-bottom: 1px solid $blue;
          }
        }

        &.bottom {
          margin-top: 10px;
          border-top: 1px solid $dark-grey;

          &.active {
            border-top: 1px solid $blue;
          }
        }

        &.top:hover, &.bottom:hover {
          border: 1px solid $light-grey;
          color: white;
        }

        h3 {
          font-weight: 500;
          width: 100%;
          margin: 0;
          padding: 10px;
          text-transform: uppercase;
          font-size: 1rem;
        }

        ul  {
          padding: 0;
          margin: 0;
          color: $grey;
          list-style-type: none;
          font-size: 1rem;
        }
      }
    }
  }


  .active-content {
    background: white;
    border: 1px solid $grey;
    text-align: left;
    width: 80%;
    margin: auto;
    margin-top: 30px;
    padding: 20px;
    color: $grey;
    font-weight: 400;

    h2 {
      margin-bottom: 10px;
      color: $blue;
    }

    h4 {
      display: inline;

      &:after {
        font-size: .8rem;
        padding: 0 5px;
        padding-bottom: 3px;
        color: $light-grey;
        content: "◆";
      }

      &:last-of-type:after {
        content: '';
        padding: none;
      }
    }

    p {
    }

    .synopsis {
      text-align: center;
      margin-top: 25px;

      span {
        &:after {
          font-size: .8rem;
          padding: 0 5px;
          padding-bottom: 3px;
          color: $light-grey;
          content: "◆";
        }

        &:last-of-type:after {
          content: '';
          padding: none;
        }
      }
    }
  }


  // mobile
  @media (max-width: 850px) {
    display: inline-block;

    .select {
      max-width: 300px;
    }

    .active-content {
      display: inline-block;
    }

    .timeline {
      .key {
        display: none;
      }
    }
  }
}

#about-container {
  .active-content div.divider {
    border-top: 1px solid $light-grey;
    text-align: left;
    margin: 20px 0;
  }
}