html, body {
  font-family: 'nowayregular', helvetica;
  font-weight: 'normal';
  font-style: 'normal';
  width: 100%;
  height: 100%;
  background-color: #F4F3EF;
  margin: 0;
  margin: 0;
}

* {
  -webkit-transition: all 0.2s ease;
  -moz-transition:    all 0.2s ease;
  -ms-transition:     all 0.2s ease;
  -o-transition:      all 0.2s ease;
}

@media (min-width: 1500px) {
  #container {
    margin: 96px;
  }
  #container section {
    margin-bottom: 96px;
  }
}

@media (max-width: 1500px) {
  #container {
    margin: 48px;
  }
  #container section {
    margin-bottom: 96px;
  }
}

@media (max-width: 1000px) {
  #container {
    margin: 24px;
  }
  #container section {
    margin-bottom: 96px;
  }
}

@media (max-width: 500px) {
  #container {
    margin: 0;
  }
  #container section {
    margin-bottom: 96px;
  }
}
