@import 'variables';

#contact-content {
  color: $light-grey;

  header {
    position: relative;
    margin-top: -20px;
    height: 250px;
    background-color: $dark-grey;
    width: 100%;

    #map {
      height: 100%;

      .mapbox-logo {
        display: none;
      }

      .leaflet-popup-tip-container {
        margin: -12px auto 0;
        width: 30px;
      }
    }
  }

  .content {
    text-align: center;

    div[class*="col-"] {
      padding: 0 5%;
      padding-top: 50px ;
      text-align: left;

      a {
        color: $light-grey;
      }

      p {
        font-size: 1.2rem;
        margin: 5px 0;
      }

      .social {
        margin-left: 40px;
        margin-top: 40px;
        display: inline-block;

        a {
          font-size: 1.2rem;
          padding: 5px 0;
          text-align: left;
          display: flex;
          transition: $ease;

          &:hover {
            color: $blue;

            .sprite {
              color: $blue;
            }
          }

          .sprite {
            flex: 1;
          }

          .text {
            flex: 5;
          }
        }
      }
    }

    #contact-form {
      > * {
        margin: 10px 0;
      }

      .button {
        width: 50%;
      }

      input:required, textarea:required {
        &::-webkit-input-placeholder:after  {
          content: "";
        }
      }

      textarea {
        height: 125px;
      }
    }
  }


  // mobile
  @media (max-width: 768px) {
    .container-fluid {
      padding: 0 0 30px;
    }
  }

  // mobile
  @media (max-width: 500px) {
    .content div[class*="col-"] .social {
      margin-left: 10px;
      text-align: center;
    }
  }
}