@import 'variables';

#contact-content {
  color: $light-grey;

  $head-height: 200px;
  header {
    margin-top: -20px;
    height: $head-height;
    background-color: $dark-grey;
    width: 100%;

    #map {
      height: 100%;

      .leaflet-popup-tip-container {
        margin: -12px auto 0;
        width: 30px;
      }
    }
  }

  .content {
    #contact-form {
      > * {
        margin: 10px 0;
      }
    }
  }

  .text {
    padding: 30px 10px;

    p {
      font-size: 1.2rem;
      margin: 5px 0;

      &:first-of-type {
        margin: 20px 0 25px;
      }

      label {
        &:after {
          content: ":";
          margin-right: 10px;
        }
      }

      a {
        color: $blue;
      }

      label, a {
        font-weight: 400;
      }
    }
  }

  // mobile
  @media (max-width: 1000px) {
  }

  // mobile
  @media (max-width: 800px) {

    .container-fluid {
    }
  }


  // mobile
  @media (max-width: 768px) {
    .vertical-center-inner {
    }
  }

}