<div id="contact-content">
  <header>
     <div id="map" map></div>
  </header>
  <row class="content">

    <div class="col-sm-6">
      <p>
        I currently reside in the shadyside neighborhood of Pittsburgh, PA. If you're from out of town, feel free to contact me through email, linkedin, or facebook. If you like my projects, follow me on github.
      </p>

      <div class="social">
        <div ng-repeat="link in model.links">
          <a href="{{link.href}}" target="{{link.target}}"><sprite name="{{link.sprite}}" size="24"></sprite><span class="text">{{link.display}}</span></a>
        </div>
      </div>
    </div>

    <div class="col-sm-6">
      <form name="form.contact" ng-class="{ 'ng-submitted' : form.contact.submitted }" novalidate>
        <div class="error main-error" ng-show="form.contact.globalError">{{ form.contact.globalError }}</div>

        <input validate required type="text" ng-model="inputs.name" name="name" placeholder="Name">

        <input validate required email type="email" ng-model="inputs.email" name="email" placeholder="Email">

        <input validate required type="text" ng-model="inputs.subject" name="subject" placeholder="Subject">

        <textarea validate required type="text" ng-model="inputs.message" name="message" placeholder="Message"></textarea>

        <div>
          <input class="button col-sm-6" type="button" ng-click="submit($event)" value="Submit">

          <p  class="success-message col-sm-6" ng-show="form.contact.success">{{form.contact.success}}</p>
        </div>
      </form>
    </div>
  </row>
</div>